
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTypeOfChoreLabel" translate="tidyUpApp.typeOfChore.home.createOrEditLabel">Create or edit a Type Of Chore</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.typeOfChore.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.typeOfChore.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tidyUpApp.typeOfChore.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.typeOfChore.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="tidyUpApp.typeOfChore.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.typeOfChore.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tidyUpApp.typeOfChore.repeatable" for="field_repeatable">Repeatable</label>
            <input type="checkbox" class="form-control" name="repeatable" id="field_repeatable"
                    ng-model="vm.typeOfChore.repeatable"
                     />
            <div ng-show="editForm.repeatable.$invalid">
                <p class="help-block"
                    ng-show="editForm.repeatable.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="tidyUpApp.typeOfChore.interval" for="field_interval">Interval</label>
            <input type="number" class="form-control" name="interval" id="field_interval"
                    ng-model="vm.typeOfChore.interval"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="tidyUpApp.typeOfChore.points" for="field_points">Points</label>
            <input type="number" class="form-control" name="points" id="field_points"
                    ng-model="vm.typeOfChore.points"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
