<h1>{{vm.user.memberOf}}</h1>

<div class="row">
    <jhi-alert></jhi-alert>

    <!-- LEFT COLUMN -->
    <div class="col-md-3 left-column">
        <div class="text-center">

            <img data-ng-src="{{'data:' + vm.account.avatarContentType + ';base64,' + vm.account.avatar}}"
                 ng-if="vm.account.avatar" class="img-circle avatar"/>
            <!-- ELSE show default picture -->
            <img src="content/images/default-avatar-1.png" ng-if="vm.account.avatar == null" class="img-circle avatar"/>

            <h3>{{vm.account.login}}</h3>
            <h4><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> {{vm.account.points | number}}</h4>
        </div>

        <h3>Frequent chores:</h3>
        <div class="list-group">
            <a ng-click="vm.saveChoreEvent(choreType)" class="list-group-item" ng-class="{disabled: vm.isEventSaving}" ng-repeat="choreType in vm.choreTypes track by choreType.id">
                {{choreType.name}}<span class="badge">{{choreType.points}} <span class="glyphicon glyphicon-star"></span></span></a>
        </div>
    </div>
    <!-- LEFT COLUMN END -->

    <hr class="hidden-lg hidden-md">
    <!-- MIDDLE COLUMN -->
    <div id="middle" class="col-md-6">

        <div class="well">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <a href="#"><img class="media-object img-circle" src="holder.js/64x64"></a>
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">TODO: tidy up bathroom</h3>

                    <p>Lorem ipsum dolor sit amet, dolor fringilla viverra rhoncus, erat venenatis vitae in lectus
                        eget.</p>

                    <div class="btn-group pull-left" role="group">
                        <button type="button" class="btn btn-success btn-sm"><span
                            class="glyphicon glyphicon-ok"></span> Fulfilled
                        </button>
                        <button type="button" class="btn btn-default btn-sm">Cannot make it</button>
                    </div>
                    <p class="text-right">Tidy till <strong>
                        <time datetime="">24th December</time>
                    </strong>.
                    </p>
                </div>
            </div>
        </div>

        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
            </div>
            <div class="media-right">
                <a href="#"><img class="media-object img-circle" src="holder.js/64x64"></a>
            </div>
        </div>

        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
            </div>
            <div class="media-right">
                <a href="#"><img class="media-object img-circle" src="holder.js/64x64"></a>
            </div>
        </div>

        <nav>
            <ul class="pager">
                <li class="next"><a href="#">Older <span aria-hidden="true">&darr;</span></a></li>
            </ul>
        </nav>
    </div>
    <!-- MIDDLE COLUMN END -->

    <hr class="hidden-lg hidden-md">
    <!-- RIGHT COLUMN -->
    <div class="col-md-3 right-column">
        <h3>Meanwhile, your friends:</h3>

        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object img-circle" src="holder.js/32x32">
                </a>
            </div>
            <div class="media-body">
                <a href="#">User1</a> tidied room.
            </div>
        </div>

        <div class="media">
            <div class="media-body text-right">
                <a href="#">User2</a> did that.
            </div>
            <div class="media-right media-middle">
                <a href="#"><img class="media-object img-circle" src="holder.js/32x32"></a>
            </div>
        </div>

        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object img-circle" src="holder.js/32x32">
                </a>
            </div>
            <div class="media-body">
                <a href="#">User1</a> tidied room.
            </div>
        </div>

        <div class="media">
            <div class="media-body text-right">
                <a href="#">User2</a> did that.
            </div>
            <div class="media-right media-middle">
                <a href="#"><img class="media-object img-circle" src="holder.js/32x32"></a>
            </div>
        </div>

        <div class="media">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object img-circle" src="holder.js/32x32">
                </a>
            </div>
            <div class="media-body">
                <a href="#">User1</a> tidied room.
            </div>
        </div>

        <div class="media">
            <div class="media-body text-right">
                <a href="#">User2</a> did that.
            </div>
            <div class="media-right media-middle">
                <a href="#"><img class="media-object img-circle" src="holder.js/32x32"></a>
            </div>
        </div>

    </div>
    <!-- RIGHT COLUMN END -->

</div>
