<div>
    <h2 translate="tidyUpApp.flat.home.title">Flats</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="flat.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="tidyUpApp.flat.home.createLabel">
                        Create new Flat
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'tidyUpApp.flat.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="tidyUpApp.flat.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateCreated"><span translate="tidyUpApp.flat.dateCreated">Date Created</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hasAdmin.id"><span translate="tidyUpApp.flat.hasAdmin">Has Admin</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th>Flat friends</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="flat in vm.flats track by flat.id">
                    <td><a ui-sref="flat-detail({id:flat.id})">{{flat.id}}</a></td>
                    <td>{{flat.name}}</td>
                    <td>{{flat.dateCreated | date:'medium'}}</td>
                    <td>
                        {{flat.hasAdmin.login}}
                    </td>
                    <td>
                        <span ng-repeat="friends in flat.friends">
                            <a class="form-control-static" ui-sref="flat-detail({id: {{friends.id}}})">{{friends.name}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="flat-detail({id:flat.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="flat.edit({id:flat.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="flat.delete({id:flat.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
